@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_AuthLayout"; 
}

<div class="auth-container">
    <div class="auth-form">
        <div class="alert alert-danger text-center">

            Try to contact the administrator to change your password.
        </div>

        <div class="text-center mt-2">
            <a asp-action="Login" class="btn btn-danger mb-2">
                Back to Login 
            </a>
        </div>
    </div>
</div>