@using Dashboard.ViewModels

@model UserProfileViewModel

<h2>Profile</h2>

<table class="table">
    <tr><th>Nom d'utilisateur</th><td>@Model.UserName</td></tr>
    <tr><th>Email</th><td>@Model.Email</td></tr>
    <tr><th>Rôle</th><td>@Model.Role</td></tr>
</table>
<div class="mt-4">
    <a class="btn btn-primary" asp-action="ChangePassword">Change Password</a>
    <a class="btn btn-danger" asp-action="Logout">Logout</a>
</div>
