@using Dashboard.ViewModels
@model SignUpViewModel

@{
    ViewData["Title"] = "Sign Up";
    Layout = "_AuthLayout";
    <link rel="stylesheet" href="~/css/auth.css" />
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
  
    

</head>
<body>
        
      <div class="auth-container">
          <div class="auth-form">
            <form asp-action="SignUp" method="post">
                <div class="form-group">
                    <input asp-for="UserName" class="form-control" placeholder="UserName">
                            <span class="fas fa-user"></span>
                </div>
                     <span asp-validation-for="UserName" class="text-danger"></span>

                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Email">
                      <span class="fas fa-envelope"></span>
                </div>

                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="form-group">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                            <span class="fas fa-lock"></span>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

                <div class="form-group">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm your password">
                            <span class="fas fa-lock"></span>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                <button type="submit" class="btn btn-red">Sign Up</button>
                <p class="mt-3 mb-1">
                    <a asp-controller="Auth" asp-action="Login" class="log-link">Already have an account!</a>
                </p>
            </form>

           
        </div>
    </div>
</body>
</html>