<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/css/auth.css" />
</head>
<body>
        <div class="logo-container">
            <img src="~/images/yazaki.png" alt="Yazaki Logo" class="logo-container" />
        </div>
    

    @RenderSection("Alerts", required: false)
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
