@using Dashboard.ViewModels
@model DashboardViewModel
<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">GUM vs AWT Breakdown</div>
            <div class="card-body">
                <canvas id="barChart" height="400"></canvas>
            </div>
        </div>
    </div>
</div>