@using Dashboard.ViewModels
@model CreateLineViewModel

<h2>Créer une ligne</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="TactTime"></label>
        <input asp-for="TactTime" class="form-control" />
        <span asp-validation-for="TactTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConveyorSpeed"></label>
        <input asp-for="ConveyorSpeed" class="form-control" />
        <span asp-validation-for="ConveyorSpeed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CycleTime"></label>
        <input asp-for="CycleTime" class="form-control" />
        <span asp-validation-for="CycleTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TargetQuantity"></label>
        <input asp-for="TargetQuantity" class="form-control" />
        <span asp-validation-for="TargetQuantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WorkingTime"></label>
        <input asp-for="WorkingTime" class="form-control" />
        <span asp-validation-for="WorkingTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=ActualOutput"></label>
        <input asp-for="ActualOutput" class="form-control" />
        <span asp-validation-for="ActualOutput" class="text-danger"></span>
    </div>





    <!-- Ajoute les autres champs de façon similaire -->

    <button type="submit" class="btn btn-primary">Créer</button>
</form>


