@model Dashboard.ViewModels.AddGumViewModel

@{
    ViewData["Title"] = "Add GUM value";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddGUM" method="post">
    <input asp-for="StationId" type="hidden" />

    <div class="form-group">
        <label asp-for="Value" class="control-label"> GUM value</label>
        <input asp-for="Value" class="form-control" />
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Add</button>
    <a asp-action="Stations" class="btn btn-danger mt-2">Back</a>
</form>

