@{
    ViewData["Title"] = "Home";
}

<div class="row align-items-center">
    <div class="col-md-6">
        <h1 class="fw-bold">Welcome @ViewBag.UserName !</h1>
        <h5 class="text-muted">Use the top navigation bar to access system features.</h5>
    </div>
    <div class="col-md-6 text-center">
        <img src="~/images/homePage.png" alt="Dashboard Image" class="img-fluid" style="max-height: 600px; margin-top:50px" />
    </div>
</div>
