body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    background-color:snow; /* Remplacement de var(--bg-color) */
    margin: 0;
    padding: 0;
    color: #333; /* Remplacement de var(--text-color) */
    line-height: 1.6;
}

/*.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 140px;  Option : légèrement plus large pour le texte 
    
    padding-top: 340px; /* à ajuster selon votre header 
    z-index: 1000;
}

    .sidebar a {
        color: black;
        text-decoration: none; 
        display: flex; 
        align-items: center; 
        padding: 20px 20px;
        gap: 10px; 
        font-weight: 500;
    }

        .sidebar a:hover {
            background-color: rgba(255, 0, 0, 0.05);
            color: red;
        }
*/


.main-content {
    background-color: snow;
    margin-left: 150px;
    margin-top: 100px;
    padding: 10px; /* Ajout pour éviter le collage du contenu */
}
.dropdown-menu {
    right: auto;
    left: 0;
}

.gauge-label {
    text-align: center;
    font-size: 1rem;
}

card {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.card-body {
    padding: 3px;
    height: auto;
    background-color: snow;
}

.gauge-canvas {
    width: 100% !important;
    height: auto !important;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.fixed-top {
    background-color:#E7E7E7;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    border-radius : 2px;
}

h3 {
    font-size:30px;
}

@media (max-width: 768px) {
    .fixed-top h3 {
        font-size: 1rem;
    }

    .fixed-top .col-md-4 {
        text-align: center;
        margin-bottom: 20px;
    }
}
.center-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh; /* centrage vertical */
    gap: 7px; /* espacement entre les boutons */
}

.large-button {
    font-size: 18px; /* taille de police  */
    padding: 15px 25px;
    border-radius: 12px;
    border: 2px solid #dc3545;
    background-color: transparent;
    color: #dc3545;
    transition: all 0.3s ease;
}

    .large-button:hover {
        background-color: #dc3545;
        color: white;
        cursor: pointer;
    }
